@using CV.Resources
@model CV.Model.Education

@{
    ViewBag.Title = Resources.Create;
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">@Resources.Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Resources.Education</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @*:STC: Begin*@
                @*@Html.LabelFor(model => model.PersonId, "PersonId", new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2" for="PersonId">Person</label>
                @*:STC: End*@
                <div class="col-md-10">
                    @Html.DropDownList("PersonId", String.Empty)
                    @Html.ValidationMessageFor(model => model.PersonId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SchoolInstitution, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SchoolInstitution)
                    @Html.ValidationMessageFor(model => model.SchoolInstitution)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Degree, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Degree)
                    @Html.ValidationMessageFor(model => model.Degree)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateFrom)
                    @Html.ValidationMessageFor(model => model.DateFrom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateTo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateTo)
                    @Html.ValidationMessageFor(model => model.DateTo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Concentrations, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Concentrations)
                    @Html.ValidationMessageFor(model => model.Concentrations)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StateProvince, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StateProvince)
                    @Html.ValidationMessageFor(model => model.StateProvince)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryRegion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CountryRegion)
                    @Html.ValidationMessageFor(model => model.CountryRegion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Resources.Create class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Resources.Back, "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
