@using CV.Resources
@model CV.Model.Attachment

@{
    ViewBag.Title = Resources.Create;
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">@Resources.Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Resources.Attachment</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @*:STC: Begin*@
                @*@Html.LabelFor(model => model.PersonId, "PersonId", new { @class = "control-label col-md-2" })*@
                @*:STC: End*@
                <label class="control-label col-md-2" for="ID">Person</label>
                <div class="col-md-10">
                    @Html.DropDownList("PersonId", String.Empty)
                    @Html.ValidationMessageFor(model => model.PersonId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttachmentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AttachmentType)
                    @Html.ValidationMessageFor(model => model.AttachmentType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttachmentDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AttachmentDate)
                    @Html.ValidationMessageFor(model => model.AttachmentDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileType)
                    @Html.ValidationMessageFor(model => model.FileType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FilePath, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FilePath)
                    @Html.ValidationMessageFor(model => model.FilePath)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Summary, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Summary)
                    @Html.ValidationMessageFor(model => model.Summary)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Resources.Create class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Resources.Back, "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
