@using CV.Resources
@model CV.Model.Certification

@{
    ViewBag.Title = Resources.Create;
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">@Resources.Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Resources.Certification</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.PersonId, "PersonId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PersonId", String.Empty)
                    @Html.ValidationMessageFor(model => model.PersonId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstitutionName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InstitutionName)
                    @Html.ValidationMessageFor(model => model.InstitutionName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfReceipt, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfReceipt)
                    @Html.ValidationMessageFor(model => model.DateOfReceipt)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StateProvince, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StateProvince)
                    @Html.ValidationMessageFor(model => model.StateProvince)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryRegion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CountryRegion)
                    @Html.ValidationMessageFor(model => model.CountryRegion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Summary, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Summary)
                    @Html.ValidationMessageFor(model => model.Summary)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Resources.Create class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Resources.Back, "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
