@using CV.Resources
@model CV.Model.Resume

@{
    ViewBag.Title = Resources.Delete;
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">@Resources.Delete</h2>

    @* :STC: Start *@
    <p class="error">@ViewBag.ErrorMessage</p>
    @* :STC: End *@

    <h3>@Resources.ConfirmDelete</h3>
    <div>
        <h4>@Resources.Resume</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Person.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Visible)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Visible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorkAuthorisationFor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkAuthorisationFor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentCareerLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentCareerLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentEducationLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentEducationLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SalaryFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SalaryFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SalaryTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SalaryTo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PreferredCountry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreferredCountry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PreferredLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreferredLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DesiredJobType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DesiredJobType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DesiredJobStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DesiredJobStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TravelDaysPerMonth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TravelDaysPerMonth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AvailabilityDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvailabilityDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@Resources.Delete class="btn btn-default" /> |
                @Html.ActionLink(Resources.Back, "Index")
            </div>
        }
    </div>
</div>